certifi
charset-normalizer
colorama
filelock
fsspec
huggingface-hub
idna
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
PyYAML
requests
safetensors
scikit-learn
scipy
setuptools
sympy
threadpoolctl
timm
torch
torchvision
tqdm
typing_extensions
urllib3